# This file contains an example configuration with RPi as secondary mcu

# See docs/Config_Reference.md for a description of parameters.

# The rpi microcontroller is used as secondary.
# Typically, both the X and Y axes
# are connected to the main micro-controller. The rpi microcontroller is used
# on non time-critical functions such as enclosure sensors, additional fan or
# light sources
[mcu host]
serial: /tmp/klipper_host_mcu

# Example1: A led strip controlled by the GPIO20 on the RPi
[output_pin light]
pin: host:gpio4
# You can also write the pin in extended form by specifying
# the reference gpiochip.
#pin: host:gpiochip0/gpio20

[gcode_macro TOGGLE_LIGHT]
gcode:
  SET_PIN PIN=light VALUE={(not printer['output_pin light'].value)|int}

[adxl345 hotend]
# Assuming `hotend` chip is connected to an RPi
cs_pin: host:None

[adxl345 bed]
# Assuming `bed` chip is connected to a printer MCU board
cs_pin: host:None  # Printer board SPI chip select (CS) pin

[resonance_tester]
# Assuming the typical setup of the bed slinger printer
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:
    150, 150, 20  # an example
    